:root{
    --primary-text-color: #212529;
    --secondary-text-color: whitesmoke;
    --background-secondary: #f3f2f6;
}

html {
    scroll-behavior: smooth;
  }

html,body, *{
margin: 0;
padding: 0;
font-family: 'Playfair Display', serif !important;
/* color: #212529; */
letter-spacing: 0.07rem;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    left: 0;
    display: flex;
    z-index: 6;
    color: white;
    justify-content: space-between;
    background: linear-gradient(0deg, rgb(0 0 0 / 11%) 0%, rgb(25 25 25) 100%);
    padding: 0 2rem;
    align-items: center;
}
.header.high-contrast{
    background: white;
    color: black;
    box-shadow: 0 -5px 21px #bbb;
    transition: 0.2s;
}
.header.high-contrast .logo{
    filter: none;
}
.header .menu-links{
    display: flex; 
    gap: 3rem;
    justify-content: end;
    padding: 1rem 0;


}
.header .menu-links .item{
    font-size: 1.2rem;
}
.header .logo{
    height: 58px;
    width: 58px;
    background-image: url("./assets/img/logo.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1);
}


.section1{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

.section1>.background{
    background-image: url("./assets/img/wall-creeper.jpg");
    background-size: 350px;
    background-repeat: repeat;
    filter: contrast(0.8) brightness(0.6) opacity(0.9) blur(0.1px);
    width: 100%;
    height: 100%;

}
.mt-btn{
    border: 0;
    border-radius: 0;
    padding: 0.775rem 0.85rem;
    max-width: 350px;
    font-weight: bolder;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: .2rem;
    text-decoration: none;
    border-radius: 7px;
}

.mt-btn.mt-btn-primary{
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
}
.mt-btn.mt-btn-primary:active{
    filter: brightness(0.7);
}

.mt-btn.mt-btn-ghost{
    background-color: transparent;
    color: var(--primary-text-color);
    border-bottom: 1px solid var(--primary-text-color);
    border-top: 1px solid var(--primary-text-color);
    border-radius: 0;
}
.mt-btn.mt-btn-ghost:active{
    background-color: #efefef;
    filter: brightness(1);
}


.type{
    margin-top: 1.2rem;
    font-size: 2.2rem;
    letter-spacing: 1rem;
}

.section1 .title{
    font-size: 7.5rem;
    font-weight: 800;
    margin-bottom: 0;
    letter-spacing: 2rem;
}

.section1 .title-descrition{
    padding: 0 2rem;
    position: absolute;
    color: white;
    align-self: center ;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.title-descrition>.slogan{
    font-size: 1.3rem;
    letter-spacing: .1rem;
    margin-bottom: 3rem;
}


/* SCROLL INFO */
.scroll-info{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-info>.shape-border{
    width: 30px;
    height: 75px;
    border: 2px solid white;
    border-radius: 14px;
    position: relative;
}

@keyframes test {
    0% {top: 0%;}
    50% {top: calc(100% - (20px + 5px));}
    100% {top: 0%;}
}
.scroll-info>.shape-border>.dot{
    width: 20px;
    border-radius: 36px;
    height: 20px;
    margin-left: 3px;
    margin-top: 3px;
    background-color: white;
    animation-name: test;
    animation-duration: 2s;
    animation-iteration-count: infinite;  
    position: absolute;
}




.page-content{
    position: absolute;
    width: 100%;
    background: white;
    top: 100vh;
    box-shadow: 0px -2px 13px #222;
    padding-top: 7rem;

}

.section-title{
    font-size: 3rem;
    letter-spacing: .4rem;
    margin-bottom: 2rem;
}

.trattaments-preview-section{
    margin-top: 5rem;
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    background-color:  #deeddb;
}

.trattaments-preview-section .section-title{
    margin-bottom: 3.5rem;
}

.service-card{
    display: flex;
    width: 100%;
    border-radius: 1rem;
    background: white;
    margin-bottom: 2.5rem;
    height: 315px;
    }

.service-card .text{
    color: var(--primary-text-color);
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .service-card .text .title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.3rem;

 }

 .service-card .image{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.8rem 0 0 0.8rem;
    min-width: 50%;
}

.service-card .image.massaggio{
    background-image: url("/assets/img/massaggio.jpg");
}
.service-card .image.manicure{
    background-image: url("/assets/img/manicure.jpg");
}
.service-card .image.pedicure{
    background-image: url("/assets/img/pedicure.jpg");
}
.service-card .image.scrub{
    background-image: url("/assets/img/scrub.jpg");
}

/*
END TEST NEW CARD
*/


.summary-section{
    margin-top: 4.3rem;
}

.summary-section .square-container{
    height: 541px;
    max-width: 381px;
    width: 100%;
    position: relative;
    margin: auto;
}
.summary-section .text-container{
    width: 100%;
    height: 100%;
    padding: 0 3rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.summary-section .square{
    height: 75%;
    width: 75%;
    position: absolute;
    left: 100px;
    top: 50px;
    /* height: 541px; */
    background-color: rgba(223,236,219,1);
    border-radius: 2rem;
}
.summary-section .border-square{
    height: 75%;
    width: 75%;
    position: absolute;
    border: 3px solid rgb(105, 143, 94);
    border-radius: 2rem;
    
}
.summary-section .image-square{
    height: 75%;
    width: 75%;
    left: 20px;
    top: 20px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 2rem;
}
.section{
    padding-left: 3rem;
    padding-right: 3rem;
}
.relax-section .image-square{
    background-image: url(./assets/img/img-section3.jpeg);

}
.product-section .image-square{
    background-image: url(./assets/img/products2.jpeg);

}
.product-section .row{
    flex-direction: row-reverse;
}


.who-image-container{
    position: relative;
    width: 100%;
    height: 421px;
}

.who-image-container .test{
    height: 412px;
    width: 300px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.who-image-container .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(./assets/img/wall-creeper.jpg);
    background-size: 360px;
    background-repeat: repeat;
    filter: contrast(1) brightness(0.8) opacity(1) blur(1px);
    border-radius: 2rem;
}

.who-image-container .image{
    background-image: url(./assets/img/maria.png);
    height: 100%;
    width: 97%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    right: 6px;
    position: absolute;
    bottom: -11px;
    border-radius: 54px;
}

.who-image-container .square{
    width: 150px;
    height: 150px;
    background: rgba(223,236,219,1);
    position: absolute;
    left: 0;
    top: 300px;
    border-radius: 2rem;
    transform: translateY(50%);

}

.who-image-container .square.top-right-square{
    left: 100%;
    top: 50px;
    width: 225px;
    height: 225px;
    outline: 4px solid #698f5e;
    border: 6px solid white;
    transform: translateX(-83%);
}

.times-section{
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color:  #deeddb;
    display: flex;
    justify-content: center;
}

.times-section table{
    font-size: 1.3rem;
}
.times-section table tr>td:first-child {
padding-right: 7.5rem;
}
.times-section table tr>td {
    padding: 0.5rem 0;
}

.footer{
    width: 100%;
    position: relative;

}
.footer .background{
    background-image: url("./assets/img/wall-creeper.jpg");
    background-size: 350px;
    background-repeat: repeat;
    filter: contrast(0.8) brightness(0.5) opacity(0.9) blur(0.1px);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.footer-content{
    padding-top: 2.5rem !important;
    padding-bottom: 2rem !important;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}

.footer .icon{
    width: 24px;
    height: 24px;
    filter: invert(94%) sepia(100%) saturate(2%) hue-rotate(302deg) brightness(109%) contrast(101%);
}

.footer .link-item{
display: flex;
gap:0.5rem;
margin-bottom: 1rem;
color: white;
text-decoration: none;
}




@media screen and (max-width: 576px) {
  
    .section1{
        /* flex-direction: column-reverse; */
        flex-direction: column;
        height: auto;
    }
    .section1>.section-child{
        width: 100%;
    }
    
    .section1 .title{
        font-size: 5.5rem;
        letter-spacing: 1.5rem;
        text-align: center;
        width: 100%;
    }

    .section1 .type{
        font-size: 2rem;
        text-align: center;
        width: 100%;

    }

    .section1>.background{
        background-size: 200px;
    
    }

    .times-section table tr>td:first-child {
        padding-right: 1.5rem;
        }


    .title-descrition{
        padding: 40px 30px;
        /* height: 50vh; */
    }

    .grid-content{
        /* margin: -3rem 1.5rem; */
    }
    .grid-content>.box{
        flex: 1 1 100%;
    }
    .grid-content> :nth-child(5) { order: 6; }
    .grid-content> :nth-child(6) { order: 5; }
    .grid-content> :nth-child(7) { order: 8; }
    .grid-content> :nth-child(8) { order: 7; }

    .summary-section .square-container{
        width: 287px;
        height: 415px;
    }

    .service-card{
        flex-direction: column;
        height: 450px;
    }
    .service-card .image{
        height: 200px;
        border-radius: 0.8rem 0.8rem 0 0rem;
    }
    .service-card .text{
        margin: auto 2rem;
    }
}

/* TABLET */
@media screen and (max-width: 768px) {
    .summary-section .square-container{
        width: 287px;
        height: 415px;
    }

    .summary-section .text-container{
        margin-top: 1rem;
        padding: 0;
    }
    .section-title{
        font-size: 2.3rem;
        letter-spacing: 0.3;
    }
    .product-section .row{
        flex-direction: row;
    }

    .footer .footer-content{
        flex-direction: column;
    }
}