:root{
    --primary-text-color: #212529;
    --secondary-text-color: whitesmoke;
    --background-secondary: #f3f2f6;
}

html,body{
margin: 0;
padding: 0;
font-family: "Times New Roman", Times, serif !important;
color: #212529;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    left: 0;
    display: flex;
    z-index: 6;
    justify-content: end;
    padding: 1rem 2rem;
    color: white;
    gap: 3rem;
    background: linear-gradient(0deg, rgb(0 0 0 / 11%) 0%, rgb(25 25 25) 100%);
}
.header.high-contrast{
    background: white;
    color: black;
    box-shadow: 0 -5px 21px #bbb;
    transition: 0.2s;
}

.header>.item{
    font-size: 1.2rem;
    text-transform: uppercase;
}


.section1{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

.section1>.background{
    background-image: url("./assets/img/wall-creeper.jpg");
    background-size: contain;
    background-repeat: repeat;
    filter: contrast(0.8) brightness(0.6) opacity(0.9) blur(0.1px);
    width: 100%;
    height: 100%;

}

.base-btn{
    background-color: var(--primary-text-color);
    border: 0;
    border-radius: 0;
    text-align: center;
    padding: 0.775rem 0.85rem;
    font-size: 1rem;
    color: var(--secondary-text-color);
    letter-spacing: .2rem;
}


.type{
    margin-bottom: 1.6rem;
    font-size: 2.2rem;
}

.title{
    font-size: 7.5rem;
    font-weight: 800;
    margin-bottom: 0;
}

.title-descrition{
    padding: 0 2rem;
    position: absolute;
    color: white;
    align-self: center ;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.title-descrition h2, .title-descrition h1{
    /* font-weight: 100; */
    letter-spacing: .3rem;
}

.title-descrition>.slogan{
    font-size: 1.3rem;
    letter-spacing: .1rem;
    margin-bottom: 3rem;
}


/* SCROLL INFO */
.scroll-info{
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.scroll-info>.shape-border{
    width: 30px;
    height: 75px;
    border: 2px solid white;
    border-radius: 14px;
    position: relative;
}

@keyframes test {
    0% {top: 0%;}
    50% {top: calc(100% - (20px + 5px));}
    100% {top: 0%;}
}
.scroll-info>.shape-border>.dot{
    width: 20px;
    border-radius: 36px;
    height: 20px;
    margin-left: 3px;
    margin-top: 3px;
    background-color: white;
    animation-name: test;
    animation-duration: 2s;
    animation-iteration-count: infinite;  
    position: absolute;
}




.page-content{
    position: absolute;
    width: 100%;
    background: white;
    top: 100vh;
    box-shadow: 0px -2px 13px #222;
    padding: 4rem 0;

}

 /*Section2*/

.section2{
}

.grid-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 4rem;
    justify-content: center;
}
.grid-content>.box{
    border-right:2px solid whitesmoke;
    border-bottom:2px solid whitesmoke;

    flex: 1 1 25%;
    width: 200px;
    min-width: 150px;
    height: 250px;
}

.box.image{
    background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/3667f75ad176549284eb3ae7/5919fed0-9290-0161-07e7-b4aac8e308ea.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.box.text{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: var(--primary-text-color);
}
.box>.box-title{
    margin-bottom: 1.7rem;
    font-weight: 500;
    font-size: 2rem;
}

.section3{
    margin-top: 70px;
}

.section3 .square-container{
    height: 541px;
    max-width: 381px;
    width: 100%;
    position: relative;
    margin: auto;
}
.section3 .text-container{
    width: 100%;
    height: 100%;
    padding: 0 3rem;
}
.section3 .square{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 100px;
    top: 50px;
    /* height: 541px; */
    background-color: rgba(223,236,219,1);
    
}
.section3 .border-square{
    height: 100%;
    width: 100%;
    position: absolute;
    border: 3px solid rgb(105, 143, 94);
    
}
.section3 .image-square{
    height: 100%;
    width: 100%;
    left: 20px;
    top: 20px;
    position: absolute;
    background-image: url(./assets/img/img-section3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
}
@media screen and (max-width: 576px) {
  
    .section1{
        /* flex-direction: column-reverse; */
        flex-direction: column;
        height: auto;
    }
    .section1>.section-child{
        width: 100%;
    }



    .title-descrition{
        padding: 40px 30px;
        /* height: 50vh; */
    }

    .grid-content{
        /* margin: -3rem 1.5rem; */
    }
    .grid-content>.box{
        flex: 1 1 100%;
    }
    .grid-content> :nth-child(5) { order: 6; }
    .grid-content> :nth-child(6) { order: 5; }
    .grid-content> :nth-child(7) { order: 8; }
    .grid-content> :nth-child(8) { order: 7; }

    .section3 .square-container{
        width: 287px;
        height: 415px;
    }

}

/* TABLET */
@media screen and (max-width: 768px) {
    .section3 .square-container{
        width: 287px;
        height: 415px;
    }

    .section3 .text-container{
        margin-top: 5rem;
    }
    .section3 .text-container h2{
        font-size: 3rem;
    }
}